/* -------Scrolling Bar ----------------------------------------------------------  */
 body::-webkit-scrollbar{
    background-color: transparent;
 }
 body{
    margin: 0;
   
 }
/* -----------------------------------------------------------------  */
 
.image-container {
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
    scrollbar-width: none;
    
  }
  
  
  .image-container img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 40px;
    
    
    
  }



 /* ------------------------- Add to cart ----------------------------------------  */
.add-to-cart{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
   font-size: medium;

}
.add-to-cart:focus{
    background-color: greenyellow;

}
/* ------------------------- banner ----------------------------------------  */
.banner{
    height: 100px;
    border-radius: 20px;
    width: 90vw;
    margin-bottom: 20px;
}
.banner img{

    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: content-box;
    margin-left: 15px;
    width: 98vw;

}
/*-------------------advertisement----------------------------- */










 /* -------------------------------------------------------------------- */
  
  .threedot{
    list-style: none;
    display:inline-table;
    align-items: center;
    justify-content:left;

  }
  .threedot li{
    margin: 0 15px;
  }
  
 .threedot a{
    color:black;
    text-decoration: none;

 }
 .threedot{
    color: #ccc;

 }


/* -------------------------------------------------------------------- */


.content {
    /* Style the product container */
    display: flex;
    flex-direction:inherit;
    flex-direction: row;
    margin-bottom: 30px;
    border: 1px solid white;
    padding: 1px;
    border-radius: 14px;
    margin-left: 10px;
    margin-top: 40px;
    flex-wrap: wrap;
  }
  
  .content img {
    /* Style the product image */
    
    width: 165px;
    height: 215px;
    object-fit: cover;
    margin-left: 40px 40px;
    padding: 5px 5px;
    border-radius: 14px;
  }
  /*
  .content span:hover{
    width: 170px;
    height: 220px;
    object-fit: cover;
    margin-left: 35px 40px;
    padding: 5px 5px;
    border-radius: 14px;
      }
*/


 /* -----------------------------------------------------------------  */
 
.delivery img{
    height: 97%;
    width: 97%;
    padding: 10px;
    margin-left: 10px;
    
}
.delivery img:hover{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin-left: 0;
    display: flex;
  
}

 /* -----------------------------------------------------------------  */




/* index styles */
.footer {
    background-color: black;
    color: #fff;
    padding: 10px;
    text-align: center;
}
/* App store */
.appstore {
    width: 110px;
    height: 35px;
    margin: 2px 45px ;
  }
  /* Play Store */
  .playstore {
    width: 105px;
    height: 33px;
    margin: 6px 45px ;
    
  }
  
.footer-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.footer-item {
    color: white;
    flex: 1;
    margin: 10px;
    
}
.footer-item h5{
 font-size: x-small;
}
.footer-links {
    color: white;
    list-style: none;
    padding: 0;
}
.footer-links a{
    color:white;
    text-decoration: none;
    font-size: small;
}
.footer-links li {
    color: white;
    margin-bottom: 5px;
    font-size: small;
}

 /* -----------------------------------------------------------------  */
/* Additional styles */


nav {
   
    background-color: black;
    padding: 4px;
    box-shadow: 0px 2px 4px rgba(195, 27, 27, 0.1);
}

.navbar {
   
    list-style: none;
    display: flex;
    align-items: center;

}
#logo_Margin{
    margin: 0 45px ;
}
.navbar li :hover{
   color: mistyrose;
}
.navbar ul{

    overflow: auto;
}
.navbar a {
    
    color: white;
    text-decoration: none;
}

#Ac_margin{
    margin-left: 470px;
}
#Addtocart_margin{
    margin-left: 40px;
}
#home_margin{
    margin-left: 40px;
}


#input_data{
    border: none;
    width: 370px;
    height: 10px;
    padding: 10px;
    margin: 0 45px;
    border-radius: 20px;

}

.navbar span li{
    align-items: flex-end;
}

.content {
    flex: 1;
    /* Additional content styles */
}
.footer-item address a {
text-decoration: none;
font-size: small;
}

 /* -----------------------------------------------------------------  */
/* account styles */

/* Forgot Pasword styles */
/* Media queries for smaller screens */
@media screen and (max-width: 1080px) {

    #logo_Margin img {
        content: url('Favicon.ico'); /* Replace 'mobile_logo.png' with the path to your mobile logo image */
        width: 30px; /* Adjust the width as needed */
        height: auto; /* Maintain aspect ratio */
        margin-left: 0 0;
    }
    #logo_Margin {
        order: -1; /* Move the logo to the beginning of the flex container */
        margin-left: 5;
    }

    #input_data {
        width: 40%; /* Take full width of the container */
        margin: 0 100px ; /* Adjust margin for better spacing */
    }
    .navbar {
        flex-direction: row; /* Display elements horizontally on smaller screens */
        justify-content: space-around; /* Adjust as needed */
        justify-content: center;
        align-items: center;
    }
    #logo_Margin{
        margin: 0 1px ;
    }

    .navbar li {
        margin: 0; /* Reset margin for list items on smaller screens */
    }

    
    #Ac_margin,
    #Addtocart_margin,
    #home_margin {
        margin-left: 20px; /* Adjusted margin for better spacing on smaller screens */
    }

    #input_data {
        width: 80%; /* Adjusted width for the search input on smaller screens */
        margin-left: 1px; /* Reset margin for better spacing on smaller screens */
    }
  
    


}
